html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.skin_color {
  color: #497922;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-size: 16px; */
  background: #f3f3f3;
  color: #666;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}

a:hover,
a:focus,
a:active {
  color: #487922;
  text-decoration: none;
}
/* header {
  background: #487922;
}
.top-bar {
  padding: 0;
  font-size: 12px;
  border-bottom: .4px solid #3b621c;
  min-height: 40px;
}
.main-header {
  padding: 20px 0 25px;
}
.site-title {
  color: #fff;
}
.header-nav {
  background: #3b621c;
}
.header-nav li {
  display: inline-block;
  padding: 15px 25px 15px;
}
.header-nav li a, .header-nav li a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}
.header-nav li:hover {
  background: #487922;
} */
main, .site-content {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  padding: 30px 20px;
}


.calc-res {
  font-size: 1.2rem;
}
.calc-res li {
  margin: 10px 0;
}

